<ion-view view-title="Easy Parking" name="recuperar_clave-view">
  <ion-content class="padding">
  <div align="center">
       <img src="img/logo.png" style="height: 123px; width: 280px;">
    </div>
    <br />
  <br/><br/>
    <div class="row">
      <div class="col text-center">
          <h3>Recuperar Clave</h3>
      </div>
    </div>
    <div class="list list-inset" style="margin-top:auto;">
        <div class="form-group">
          <label class="item item-input item-floating-label">
           <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="data.email">
         </label>
        </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="button button-block icon-left  ion-paper-airplane button-balanced" ng-click="recuperar()">Solicitar</button>
      </div>
    </div>
  </ion-content>
</ion-view>