/* Empty. Add your own CSS if you like */
.gridStyle {
    border: 3px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}

.green {
    background-color: green;
    color: white;
}
.popup-container .popup {
    width: 350px;
 }
 .popup-body .popup{
  text-align: center;
  font-size: 10px;
 } 
 [class*="col-"] {
 	font-size: 11.6px;
    float: center;
    padding: 1px;
    border: 1px blue;
    background-color: #8c8c8c;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
 .col-1{width: 10%;text-align: center;align-items: center;display: flex;justify-content: center;}
 .col-2{width: 18%;text-align: center;align-items: center;display: flex;justify-content: center;}
 .col-3{width: 20%;text-align: center;align-items: center;display: flex;justify-content: center;}
 .col-4{width: 20%;text-align: center;align-items: center;display: flex;justify-content: center;}
 .col-5{width: 16%;text-align: center;align-items: center;display: flex;justify-content: center;}
 .col-6{width: 16%;text-align: center;align-items: center;display: flex;justify-content: center;}
 .col-7{width: 32%;text-align: center;}
 
 .button.special1{

 	line-height: 20px !important;
    min-height: 20px !important;
    background-color: #cc0000;
    color: white;
    font-size: 11.5px;
 }
.button.special2{
 	line-height: 20px !important;
    min-height: 10px !important;
    background-color: #00cc00;
    color: white;
    font-size: 11.3px;
 }
